.flex{
    
    display: flex;
     
}
  
 input,select{
     margin: 5px;
     padding:5px;
 }
 .form{
     margin: 0 0 0 40% ;
      background-color: rgb(230, 235, 168);
      padding: 20px;
      width: max-content;
      border-radius: 10px;
 }
 input[type="submit"]{
    background-color: darkolivegreen;
    color: antiquewhite;
    margin: auto;
  
    margin-top: 16px;
    padding: 8px;
    border-radius: 7px;
}
 
 